@model List < DER.WebApp.Domain.Models.DadosMestresTabela>
@{
    ViewBag.Title = "SGFD - Tabelas de domínio";
}

<section class="content">
    <section class="content-header">
        <h1>Listagem de tabelas de domínio</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Home/Index"> Home </a></li>
            <li class="active"><a> Listagem de tabelas de domínio </a></li>
        </ol>
    </section>
    <section class="jumbotron">
        <div class="list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width:80%">Nome</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if(User.IsInRole("DDM"+item.Codigo))
                        {
                            <tr data-id="@item.Codigo">
                                <th scope="row">@item.Nome</th>
                                
                                <td>
                                    @*<button type="submit" onclick="location.href='/DadosMestres/Visualizar/@item.Codigo'" @(!User.IsInRole("DDM" + item.Codigo + "VIS") ? "disabled" : "") class="btn btn-link"><i class="fa fa-search"></i></button>
                                    <button type="submit" onclick="location.href='/DadosMestres/Editar/@item.Codigo'" @(!User.IsInRole("DDM" + item.Codigo + "EDI") ? "disabled" : "") class="btn btn-link"><i class="fa fa-pencil"></i></button>*@
                                    <button type="submit" onclick="location.href='/DadosMestres/Visualizar/@item.Codigo'" @(!User.IsInRole("DDM" + item.Codigo + "VIS")) class="btn btn-link"><i class="fa fa-search"></i></button>
                                    <button type="submit" onclick="location.href='/DadosMestres/Editar/@item.Codigo'" @(!User.IsInRole("DDM" + item.Codigo + "EDI")) class="btn btn-link"><i class="fa fa-pencil"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</section>