@{
    var PerfilUsuario = DER.WebApp.Common.Helper.PerfilUsuario.PerfildoUsuario;
    var DataCredenciamento = DER.WebApp.Common.Helper.PerfilUsuario.DataCredenciamento;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/Base.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/plugins/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/DataTables/datatables.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="@Url.Content("~/img/logo_branco.png")" width="50" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="@Url.Content("~/img/logo_branco.png")" width="100" /></span>
            </a>            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <span class="title-system">SGFD - Sistema de Gestão de Faixas de Domínio</span>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!--<li class="dropdown tasks-menu" style="cursor: pointer;">
                            <a onclick="helpOnline();">
                                AJUDA
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </li>-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/1.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Bem Vindo, @User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/img/1.png" class="img-circle" alt="User Image">
                                    <p>
                                        <div style="color:white; font-weight:bold"> @User.Identity.Name</div>
                                        <div style="color:white; font-weight:bold">PJG - DER 06 ITU</div>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a class="btn btn-default btn-flat" onclick="ModalTrocaSenha();"><i class="fa fa-key"></i> Alterar Senha</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" onclick="Logout();"><i class="fa fa-sign-out"></i> Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/img/1.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info truncate">
                        <p>@User.Identity.Name </p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li>
                        <a href="/Home/Index">
                            <i class="fa fa-home active"></i> <span>Home</span>
                        </a>
                    </li>

                    <li class="header">GESTÃO DE ACESSO</li>

                    @if (User.IsInRole("GES"))
                    {
                        if (PerfilUsuario == "Perfil Interessado" && User.Identity.Name != "Admin")
                        {
                            <li>
                                <a href="/GestaoInteressados/List">
                                    <i class="fa fa-users active"></i> <span>Solicitar Credenciamento</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/GestaoInteressados/List">
                                    <i class="fa fa-users active"></i> <span>Credenciamento de Interessado</span>
                                </a>
                            </li>
                        }
                    }

                    @if (User.IsInRole("GOC"))
                    {
                        if (DataCredenciamento == "" || DataCredenciamento == null || Convert.ToDateTime(DataCredenciamento) >= DateTime.Now )
                        {
                            <li>
                                <a href="/GestaoOcupacoes/List">
                                    <i class="fa fa-home active"></i> <span>Gestão de Ocupações</span>
                                </a>
                            </li>
                        }
                    }


                    @if (User.IsInRole("PRO"))
                    {
                        <li>
                            <a href="/ProjetosMelhorias/List">
                                <i class="fa fa-shopping-bag active"></i> <span>Projetos de Melhorias</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("GEO"))
                    {
                        <li>
                            <a href="/GestaoOcorrencias/List">
                                <i class="fa fa-warning active"></i> <span>Gestão de Ocorrências</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("GRP"))
                    {
                        <li>
                            <a href="/GrupoAcesso/List">
                                <i class="fa fa-group active"></i> <span>Grupos</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("PER"))
                    {
                        <li>
                            <a href="/PerfilAcesso/List">
                                <i class="fa fa-list active"></i> <span>Perfis</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("DDM"))
                    {
                        <li>
                            <a href="/DadosMestres/List">
                                <i class="fa fa-bank active"></i> <span>Dados Mestres</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("USI"))
                    {
                        <li>
                            <a href="/UsuarioInterno/List">
                                <i class="fa fa-user active"></i> <span>Usuários Internos</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("USE"))
                    {
                        <li>
                            <a href="/UsuarioExterno/List">
                                <i class="fa fa-user active"></i> <span>Usuários Externos</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("API"))
                    {
                        <li>
                            <a href="/API/Index">
                                <i class="fa fa-database active"></i> <span>Apis</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("LOG"))
                    {
                        <li>
                            <a href="/Log/Index">
                                <i class="fa fa-database active"></i> <span>Logs</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("EML"))
                    {
                        <li>
                            <a href="/Email/List">
                                <i class="fa fa-database active"></i> <span>Emails</span>
                            </a>
                        </li>
                    }
                    @*@if (User.IsInRole("TMP"))*@
                    @*{*@
                    <li>
                        <a href="/Template/List">
                            <i class="fa fa-database active"></i> <span>Templates</span>
                        </a>
                    </li>
                    @*}*@
                    <!--Inserir Restrição correta-->
                    @if (User.IsInRole("FIN"))
                    {
                        <li>
                            <a href="/Financeiro/FaturamentoOcupacao">
                                <i class="fa fa-database active"></i> <span>Faturamento</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("CRO"))
                    {
                        <li>
                            <a href="/ConsultarRodovias/Index">
                                <i class="fa fa-database active"></i> <span>Consultar Rodovias</span>
                            </a>
                        </li>
                    }
                    @*@if (User.IsInRole("INA"))
                    {*@
                    <li>
                        <a href="/Inadimplentes/Index">
                            <i class="fa fa-database active"></i> <span>Lista de inadimplentes</span>
                        </a>
                    </li>
                    @*}*@
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <section class="content" style="margin-top:-17px;">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Versão: 1.0.10
            </div>
            <strong>Copyright &copy; 2020 <a href="#">DER</a>. Todos os direitos reservados</strong>
            @*            <label style="margin-left:400px;">*@
            <label class="col-md-offset-3">
                Sua sessão expira em <span id="tempoSessao"></span> minutos.
            </label>
        </footer>
    </div>

    <div class="modal fade" id="modalTrocarSenhaAtual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="margin-left:150px; width:550px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="mySpanArrematante"><b>Alterar Senha</b></h3>
                </div>
                <form>
                    <br />
                    <div class="modal-body form-group">
                        <div class="row">
                            <div class="col-md-offset-3">

                                <label>Senha Atual<span class="text-danger">*</span> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group has-feedback input-group">
                                <input type="password" id="txtSenhaAtual" name="txtSenhaAtual" class="form-control" placeholder="Senha Atual" ToolTip="Digite Senha Atual" data-val="true" data-val-required="- digite a senha atual." required />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3">
                                <label>Nova Senha<span class="text-danger">*</span> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group has-feedback input-group">
                                <input type="password" id="txtSenhaNova" name="txtSenhaNova" class="form-control" placeholder="Nova Senha" ToolTip="Digite Nova Senha" data-val="true" data-val-required="- digite a nova senha." required />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3">
                                <label>Confirmar Senha<span class="text-danger">*</span> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group has-feedback input-group">
                                <input type="password" id="txtSenhaNovaConfirmar" name="txtSenhaNovaConfirmar" class="form-control" placeholder="Confirmar Senha" ToolTip="Confirme Nova Senha" data-val="true" data-val-required="- digite para confirmar a nova senha." required />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-3 col-md-offset-4">
                            <button id="btnTrocarSenha" name="btnTrocarSenha" onclick="AlterarSenhaAtual();" class="btn btn-primary btn-block btn-flat"> Alterar Senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/multiselect.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="~/Content/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Content/plugins/jquery.mask.js"></script>
    <script src="~/Content/plugins/sweetalert2.min.js"></script>
    <script src="~/Scripts/Service.js"></script>
    <script src="~/Content/DataTables/datatables.js"></script>
    <script src="~/Content/DataTables/helperDataTable.js"></script>
    <script src="~/Scripts/TempoSessao.js"></script>
    <script src="~/Scripts/Enums.js"></script>
    @RenderSection("importJS", required: false)


    <script>
        $('document').ready(() => {
            @RenderSection("Ready", required: false)
        })
    </script>
</body>
</html>
