@model List<DER.WebApp.Domain.Models.Emails>
@{
    ViewBag.Title = "SGFD - Emails";
    var permissoes = (DER.WebApp.ViewModels.PermissoesViewModel)ViewBag.Permissoes;
}

<section class="content">
    <section class="content-header">
        <h1>Emails</h1>
        @*<button onclick="window.location.href = '/GestaoOcorrencias/Novo'" class="btn btn-primary">
            <i class="fa fa-save"></i>
            <span>Novo</span>
        </button>*@
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Home/Index"> Home </a></li>
            @*<li class="active"><a> Consultar Ocorrências Cadastradas </a></li>*@
        </ol>
    </section>
    <section class="jumbotron">
        <div class="list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Código do email</th>
                        <th scope="col">Assunto</th>
                        <th scope="col">Corpo do email</th>
                        <th scope="col">Destinatário</th>
                        <th scope="col">Data do envio</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr data-id="@item.Id">
                                <th scope="row">@item.Id</th>
                                <th>@item.Assunto</th>
                                <th>@item.CorpoEmail</th>
                                <th>@item.Destinatario</th>
                                <th>@item.DataEnvio</th>
                                <td>
                                    <button type="submit" onclick="location.href='/Email/Editar/@item.Id'" class="btn btn-link" title="Editar"><i class="fa fa-pencil"></i></button>
                                    <button onclick="Reenviar(@item.Id, '@item.Assunto', '@item.CorpoEmail', '@item.Destinatario')" class="btn btn-link"><i class="fa fa-repeat"></i></button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                Nenhum dado encontrado.
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>
</section>
<script>
@section Ready{
    $('.table').DataTable({
        language: {
            url: '/Content/DataTables/Pt-Br.json'
        }
    });
}

    function Reenviar(id, assunto, corpoEmail, destinatario) {
        swal({
            title: 'Reenvio',
            text: "Deseja realmente reenviar o email?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Não',
            confirmButtonText: 'Sim'
        }).then((result) => {
            if (result.value) {
                var response = POST("/Email/Reenviar", JSON.stringify({ Id: id, Assunto: assunto, CorpoEmail: corpoEmail, Destinatario: destinatario }));
                swal({
                    type: 'success',
                    title: 'Sucesso',
                    text: response.message
                }).then((result) => {
                    console.log(result);
                })
            }
        });
    }
</script>