@model List<DER.WebApp.Domain.Models.Perfil>
@{
    ViewBag.Title = "SGFD - Perfis de acesso";
    var permissoes = (DER.WebApp.ViewModels.PermissoesViewModel)ViewBag.Permissoes;
}
<section class="content">
    <section class="content-header">
        <h1>Listagem de Perfis</h1>
        <button onclick="window.location.href = '/PerfilAcesso/Novo'" @(permissoes.Criar ? "" : "disabled" ) class="btn btn-primary">
            <i class="fa fa-save"></i>
            <span>Novo</span>
        </button>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Home/Index"> Home </a></li>
            <li class="active"><a> Listagem de Perfis </a></li>
        </ol>
    </section>
    @if (permissoes.Listagem)
    {
        <section class="jumbotron">
            <div class="list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.Id">
                                <th scope="row">@item.Nome</th>
                                <td>@item.Descricao</td>
                                <td>
                                    <button type="submit" onclick="location.href='/perfilacesso/Visualizar/@item.Id'" @(permissoes.Visualizar ? "" : "disabled" ) class="btn btn-link"><i class="fa fa-search"></i></button>
                                    <button type="submit" onclick="location.href='/perfilacesso/Editar/@item.Id'" @(permissoes.Editar ? "" : "disabled" ) class="btn btn-link"><i class="fa fa-pencil"></i></button>
                                    <button onclick="Excluir(@item.Id)" class="btn btn-link" @(permissoes.Excluir ? "" : "disabled" )><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    }
</section>
<script>
    @section Ready{
    $('.table').DataTable({
        language: {
            url: '/Content/DataTables/Pt-Br.json'
        }
    });
    }
    function Excluir(id) {
        swal({
            title: 'Exclusão',
            text: "Deseja realmente excluir o perfil",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Não',
            confirmButtonText: 'Sim'
        }).then((result) => {
            if (result.value) {
                var response = POST("/PerfilAcesso/Excluir", JSON.stringify({ id: id }));
                if (response.status == true) {
                    swal({
                        type: 'success',
                        title: 'Sucesso',
                        text: 'Perfil excluido com sucesso!'
                    }).then((result) => {
                        if (result.value) {
                            $('[data-id=' + id + ']').remove()
                        }
                    })

                }
            }
        });
    }
</script>